body {
    background-color: blueviolet;
    background-image: url('https://www.sunhome.ru/i/wallpapers/252/nochnie-goroda-oboi.orig.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.3rem;
}

h1 {
    margin-top: 10rem;
    margin-bottom: 0px;
}

.lead {
    font-size: 1.5rem;
}

.main {
    background-color: rgba(3, 3, 3, 0.5);
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    position: absolute;
}

ul {
    list-style: none;
    margin-top: 2rem;
    border-top: 2px solid white;
    overflow: auto;
    max-height: 19rem;
}

li {
    border-bottom: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input[type=checkbox] {
    float: right;
    height: 20px;
    width: 20px;
    border: 1px solid white;
}

li>button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: white;
    font-weight: 800;
}

.task-done {
    text-decoration: line-through;
}

.task {
    max-width: 35rem;
    display: inline-block;
    word-wrap: break-word;
}
